/*====================================
=               MODAL                =
====================================*/

.modal-container {
    width: 100%;
    height: 100vh;
    background-color: #fde5cf;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
}

.background-second-color {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffddfc;
    z-index: 1;
}

.btn-cerrar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffddfc;
    border: 3px solid #ffddfc;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    cursor: pointer;
    z-index: 100;
    font-size: 1.5em;
}

.btn-cerrar:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-cerrar:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.modal-box {
    width: 85%;
    height: 80%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
}


/*====================================
=             SOBRE MI               =
====================================*/

.modal-sobre-mi-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msm-image-box {
    width: 93%;
    height: 94%;
    overflow: hidden;
}

.container-slider {
    width: 100%;
    height: 100%;
    transition: .6s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.msml-image1 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.msml-image2 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/2.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -100%;
}

.msml-image3 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/3.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -200%;
}

.modal-sobre-mi-right {
    width: 60%;
    height: 100%;
}

.msmr-top {
    width: 100%;
    height: 40%;
    background: url('../img/modalSobreMi.svg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.cards-img-container {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 10px;
    left: -60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards-img-container div {
    cursor: pointer;
}

.card-image1 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/1.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    left: 0;
}

.card-image2 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/2.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    left: 240px;
}

.card-image3 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/3.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 480px;
}

.card-opacity {
    width: 100%;
    height: 100%;
    transition: .3s ease;
}

.msmr-bottom {
    width: 100%;
    height: 60%;
}

.msmr-bottom h2 {
    width: 100%;
    height: auto;
    font-size: 3em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 300;
}

.msmr-bottom h3 {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 20px;
}

.msmr-bottom p {
    width: 85%;
    height: auto;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}