/*====================================
=               MODAL                =
====================================*/

.modal-container {
    width: 100%;
    height: 100vh;
    background-color: #fde5cf;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
}

.background-second-color {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffddfc;
    z-index: 1;
}

.btn-cerrar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffddfc;
    border: 3px solid #ffddfc;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    cursor: pointer;
    z-index: 100;
    font-size: 1.5em;
}

.btn-cerrar:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-cerrar:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.modal-box {
    width: 85%;
    height: 80%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
}


/*====================================
=             SOBRE MI               =
====================================*/

.modal-sobre-mi-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msm-image-box {
    width: 93%;
    height: 94%;
    overflow: hidden;
}

.container-slider {
    width: 100%;
    height: 100%;
    transition: .6s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.msml-image1 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/1.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
}

.msml-image2 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/2.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -100%;
}

.msml-image3 {
    width: 100%;
    height: 100%;
    background: url('../img/sobre-mi/3.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    right: -200%;
}

.modal-sobre-mi-right {
    width: 60%;
    height: 100%;
}

.msmr-top {
    width: 100%;
    height: 40%;
    background: url('../img/modalSobreMi.svg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.cards-img-container {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 10px;
    left: -60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cards-img-container div {
    cursor: pointer;
}

.card-image1 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/1.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    left: 0;
}

.card-image2 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/2.jpg');
    background-position: top;
    background-size: cover;
    position: absolute;
    left: 240px;
}

.card-image3 {
    width: 230px;
    height: 80%;
    background-image: url('../img/sobre-mi/3.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 480px;
}

.card-opacity {
    width: 100%;
    height: 100%;
    transition: .3s ease;
}

.msmr-bottom {
    width: 100%;
    height: 60%;
}

.msmr-bottom h2 {
    width: 100%;
    height: auto;
    font-size: 3em;
    font-family: 'Architects Daughter', cursive;
    font-weight: 300;
}

.msmr-bottom h3 {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
    font-weight: 300;
    margin-top: -15px;
    margin-bottom: 20px;
}

.msmr-bottom p {
    width: 85%;
    height: auto;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}


/*====================================
=               AMIGOS               =
====================================*/

.modal {
    width: 100%;
    height: 100vh;
    background-color: #fde5cf;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
}

.btn-cerrar-amigos {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffddfc;
    border: 3px solid #ffddfc;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    cursor: pointer;
    z-index: 100;
    font-size: 1.5em;
}

.btn-cerrar-amigos:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-cerrar-amigos:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.container-all {
    width: 85%;
    height: 80%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.friends-container {
    width: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-friend1 {
    width: 75%;
    height: 80%;
    background-image: url(../img/friends/Antuan.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
}

.img-friend2 {
    width: 75%;
    height: 80%;
    background-image: url(../img/friends/Miriam.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
}

.img-friend3 {
    width: 75%;
    height: 80%;
    background-image: url(../img/friends/Guillermo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
}

.img-friend4 {
    width: 75%;
    height: 80%;
    background-image: url(../img/friends/Rooth.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
}

.text-friend {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #fde5cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
}

.text-friend h2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.text-friend p {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.text-friend ul {
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.text-friend ul li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-friend ul li a {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fde5cf;
    border: 3px solid #fde5cf;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    transition: .1s ease;
    font-size: 1em;
}

.text-friend ul li a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.text-friend ul li a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}


/*====================================
=              GALERIA               =
====================================*/

.modal-fotos {
    cursor: pointer;
}

.img-galeria1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria4 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria5 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/5.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria6 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.img-galeria7 {
    width: 100%;
    height: 100%;
    background-image: url(../img/galeria/7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}