:root {
    --primary-color: #fde5cf;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    color: #303030;
}


/*====================================
=            MENU LATERAL            =
====================================*/

.menu-lateral-container {
    width: 100%;
    height: 100vh;
    background-color: #30303000;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    margin-right: -100%;
}

.menu-lateral {
    width: 30%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.menu-lateral h2 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3em;
    letter-spacing: -2px;
    font-family: 'Architects Daughter', cursive;
    color: var(--primary-color);
    text-shadow: 4px 4px 8px #00000052, -4px -4px 8px #ffffff52;
}

.ml-box {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-box-nav {
    width: 80%;
    height: 100%;
}

.ml-box-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ml-box-nav ul li {
    width: 70%;
    height: 40px;
}

.ml-box-nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #303030;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    transition: .1s ease;
}

.ml-box-nav ul li a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.ml-box-nav ul li a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.footer-menu-lateral {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-menu-lateral ul {
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-menu-lateral ul li {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu-lateral ul li a {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    transition: .1s ease;
    font-size: 1.5em;
}

.footer-menu-lateral ul li a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.footer-menu-lateral ul li a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.footer-menu-lateral p {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: 'Oleo Script', cursive;
}


/*====================================
=              HEADER                =
====================================*/

header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/header.jpg);
    background-size: cover;
    position: relative;
}

.inicio-opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f5f452;
    z-index: 2;
}

.btn-line-menu {
    width: 200px;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
}

.btn-hamburger {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    font-size: 2em;
    transition: .3s ease;
}

.btn-hamburger:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-hamburger:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.line-menu {
    width: 100%;
    height: 20%;
    position: fixed;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.color-line {
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 2;
}

.text-line {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
}

.tl-nombre {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
}

.tl-nombre-puntos {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.circulo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.tl-nombre-text {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tl-nombre-text h1 {
    font-size: 4em;
    letter-spacing: -2px;
    color: #303030;
    font-family: 'Architects Daughter', cursive;
}

.tl-menu {
    width: 100%;
    height: 40%;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.list-content {
    width: 160px;
    height: 60%;
}

.list-content a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    color: #303030;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    transition: .1s ease;
}

.list-content a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.list-content a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.welcome-container {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.wc-container-text {
    width: 45%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.ct-card {
    width: 90%;
    height: 300px;
    position: relative;
    margin-top: -150px;
    display: flex;
    flex-direction: column;
}

.ct-card p {
    width: 98%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    text-align: left;
    line-height: 60px;
    font-weight: 600;
    color: #303030;
    font-family: 'Poiret One', cursive;
}

.line {
    width: 450px;
    height: 5px;
    position: absolute;
    top: 170px;
    left: 10px;
    background-color: #303030;
}

.counter-time-box {
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-time {
    width: 25%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-time h3 {
    font-size: 2em;
    color: #303030;
    font-family: 'Poiret One', cursive;
}

.card-time p {
    font-size: 1em;
    color: #f7f7f7;
    font-family: 'Poiret One', cursive;
}

.wc-container-date {
    width: 45%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.cd-card {
    width: 350px;
    height: 100px;
    position: relative;
    margin-bottom: -200px;
    margin-right: -150px;
    border-top: 3px solid #303030;
    border-bottom: 3px solid #303030;
}

.cd-card h3 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #303030;
    font-family: 'Oleo Script', cursive;
}

.cd-card p {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #303030;
    font-family: 'Oleo Script', cursive;
}


/*====================================
=              SOBRE MI              =
====================================*/

#sobre-mi {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-box {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sm-box-left {
    width: 40%;
    height: 100%;
    background-image: url(./../img/vector.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.sm-box-right {
    width: 60%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sm-box-right h2 {
    width: 90%;
    height: 25%;
    font-size: 5em;
    font-family: 'Poiret One', cursive;
    line-height: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sm-box-right p {
    width: 90%;
    height: 23%;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.box-right-btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    position: absolute;
    bottom: 20px;
    left: 35px;
    cursor: pointer;
    transition: .1s ease;
}

.box-right-btn:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.box-right-btn:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.box-right-btn p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.box-right-btn:hover p {
    text-decoration: underline;
}


/*====================================
=               AMIGOS               =
====================================*/

#amigos {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.amigos-left {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amigos-left h3 {
    width: 90%;
    height: 7%;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
}

.amigos-left h2 {
    width: 90%;
    height: 40%;
    font-size: 3.5em;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.amigos-left p {
    width: 90%;
    height: 20%;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.amigos-left-btn {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.amigos-left-btn a {
    width: 150px;
    height: 50px;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: .1s ease;
}

.amigos-left-btn a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
    text-decoration: underline;
}

.amigos-left-btn a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.amigos-right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 300px!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-slider {
    width: 90%;
    height: 410px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    cursor: pointer;
    transition: .3s ease;
    overflow: hidden;
}

.card-slider:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.swiper-button-next,
.swiper-button-prev {
    top: 85%!important;
}

.btn-prev,
.btn-next {
    width: 40px!important;
    height: 40px!important;
    background: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 50px;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next {
    right: 725px!important;
}

.btn-prev:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-prev:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.btn-next:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.btn-next:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1em!important;
    font-weight: 800;
    color: #303030!important;
}

.amigo1 {
    background-image: url(../img/friends/Antuan.jpg);
}

.amigo2 {
    background-image: url(../img/friends/Miriam.jpg);
}

.amigo3 {
    background-image: url(../img/friends/Guillermo.jpg);
}

.amigo4 {
    background-image: url(../img/friends/Rooth.jpg);
}

.amigo-opacity {
    width: 100%;
    height: 100%;
    background-color: #30303083;
    position: relative;
}

.amigo-opacity h3 {
    position: absolute;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    color: #f9f5f4b0;
    bottom: 40px;
    left: 10px;
}

.card-slider:hover .amigo-opacity h3 {
    color: #f9f5f4;
}


/*====================================
=               GALERIA              =
====================================*/

#galeria {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-box {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0px, auto);
}

.box1 {
    grid-column: 1/3;
    grid-row: 1/4;
    position: relative;
    overflow: hidden;
}

.box1-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/1.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box1:hover .box1-image {
    transform: scale(1.1);
}

.box2 {
    grid-column: 3/4;
    grid-row: 1/3;
    position: relative;
    overflow: hidden;
}

.box2-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/2.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box2:hover .box2-image {
    transform: scale(1.2);
}

.box3 {
    grid-column: 3/4;
    grid-row: 3/4;
    position: relative;
    overflow: hidden;
}

.box3-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/3.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box3:hover .box3-image {
    transform: scale(1.2);
}

.box4 {
    grid-column: 1/2;
    grid-row: 4/7;
    position: relative;
    overflow: hidden;
}

.box4-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/4.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box4:hover .box4-image {
    transform: scale(1.2);
}

.box5 {
    grid-column: 2/3;
    grid-row: 4/6;
    position: relative;
    overflow: hidden;
}

.box5-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/5.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box5:hover .box5-image {
    transform: scale(1.2);
}

.box6 {
    grid-column: 2/3;
    grid-row: 6/7;
    position: relative;
    overflow: hidden;
}

.box6-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/6.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box6:hover .box6-image {
    transform: scale(1.2);
}

.box7 {
    grid-column: 3/4;
    grid-row: 4/7;
    position: relative;
    overflow: hidden;
}

.box7-image {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/galeria/7.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.box7:hover .box7-image {
    transform: scale(1.2);
}

.galeria-box-opacity {
    width: 100%;
    height: 100%;
    background-color: #f9f5f452;
    position: absolute;
    z-index: 2;
}

.galeria-box-opacity p {
    width: 100%;
    height: 100%;
    background-color: #f9f5f452;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    letter-spacing: -2px;
    color: #303030;
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
}


/*====================================
=               ETC                  =
====================================*/

#datos {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.datos-container {
    width: 90%;
    height: 80%;
    background-color: #d6a7a7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(211.19px, auto);
}

.dato1 {
    grid-column: 1/3;
    grid-row: 1/4;
    position: relative;
    overflow: hidden;
}

.salon-img {
    width: 100%;
    height: 100%;
    transition: .3s;
    background-image: url(../img/datos/salon.jpg);
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.dato1:hover .salon-img {
    transform: scale(1.2);
}

.salon-box {
    width: 100%;
    height: 100%;
    background-color: #f9f5f452;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.salon-box h2 {
    font-size: 3em;
    font-family: 'Poiret One', cursive;
    margin-bottom: 15px;
}

.salon-box p {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.salon-box a {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #f9f5f452;
    border: 3px solid #f9f5f414;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    font-family: 'Open Sans', sans-serif;
}

.salon-box a:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
    text-decoration: underline;
}

.salon-box a:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}

.dato2 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #4d8ded;
    position: relative;
    overflow: hidden;
}

.dato3 {
    grid-column: 3/4;
    grid-row: 2/4;
    background-color: #4ded90;
    position: relative;
    overflow: hidden;
}

.dato4 {
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: #eda04d;
    position: relative;
    overflow: hidden;
}